# =========================
# Environment variables
# =========================
.env
.env.*
*.env

# =========================
# Python cache
# =========================
__pycache__/
*.pyc

# =========================
# Virtual environments
# =========================
venv/
.venv/

# =========================
# IDE files
# =========================
.vscode/
.idea/
